{% extends 'base.html.twig' %}

{% block title %}Exam_Page{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <form action="{{path('result')}}" methods="POST">
                <div class="row my-2">
                    {%for value in values%}
                        <div><h4># {{value.ques}}</h4></div>
                        <div class="mx-2 my-2">
                           <input name="ques[{{ value.id }}]" value="{{value.a}}" type="radio"/>A.{{value.a}}<br/>
                           <input name="ques[{{ value.id }}]" value="{{value.b}}" type="radio"/>B.{{value.b}}<br/>
                           <input name="ques[{{ value.id }}]" value="{{value.c}}" type="radio"/>C.{{value.c}}<br/>
                           <input name="ques[{{ value.id }}]" value="{{value.d}}" type="radio"/>D.{{value.d}}<br/>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="text-center">
        <button class="btn btn-primary mx-2 my-2">Finish</button>
        </div>
        </form>
{% endblock %}