{% extends 'base.html.twig' %}

{% block title %}Question_Show_Page{% endblock %}
{% block style %}
<style>
    <style>
        .text-color {
            color: rgb(0, 102, 255);
        }
    </style>
</style>
{% endblock %}

{% block body %}

    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 class="mb-4 text-color">Questions<b></b></h3>
                        </div>
                        <div class="col-sm-3">
                            <div class="float-right">
                                <a href="{{path('addquestion')}}"><Button data-toggle="modal" 
                                        class="btn btn-primary">Add Question</Button></a>
                                <a href="{{path('home')}}"> <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Back</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Questions <i class="fa fa-sort"></i></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {% for value in values %}}
                            <td>{{value.ques}}</td>
                            <td></td>
                            <td><a href="{{path('editpage',{id:value.id})}}"><button class="btn btn-success">Edit</button></a>
                                <a href="{{path('home',{id:value.id})}}"><button class="btn btn-danger">Back</button></a>
                            </td>
                        {%endfor%}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}